<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Phudu:wght@500&display=swap" rel="stylesheet"/>
    <title>Email</title>
    <style>
      h2, p {
        font-family: "Oswald", sans-serif;
      }

      .centralizar {
        text-align: center;
      }
    </style>

</head>

<body>
    <main>
        <div style="text-align: center;">
            <img src="https://i.ibb.co/3013J4Z/CPU.gif" alt="Logo de um Laptop em chamas" width="572px"/>
        </div>

        <h2 class="centralizar">Atenção</h2>
    
        <p class="centralizar">
            <strong>Prezados membros da equipe de TI,</strong><br/>
            Gostaríamos de informá-los sobre o consumo de recursos dos computadores da empresa.<br> 
            Segundo o nosso monitoramento, alguns computadores estão operando acima da capacidade recomendada,<br>o que pode comprometer o desempenho e a segurança dos sistemas.<br/>
            Pedimos que verifiquem os computadores que apresentam alto consumo de recursos e tomem as medidas necessárias para otimizar o uso dos mesmos. <br/> 
            Agradecemos a sua atenção e colaboração.<br/>
            <br/>
            <strong>Atenciosamente, Gerência de TI </strong>
        </p>
    
        <footer class="centralizar">
            <p class="centralizar">
                Desenvolvido por <strong>William Cruz</strong>
            </p>
            <div class="centralizar">
                <a class="centralizar" href="https://www.instagram.com/sr_william_cruuz/" target="_blank"><img src="https://i.ibb.co/VSD62CJ/instagram.png" alt="Instagram" width="30px"></a>
                <a class="centralizar" href="https://www.linkedin.com/in/william-cruz-da-silva-a6a394b9/" target="_blank"><img src="https://i.ibb.co/WGrN1X1/linkedin.png" alt="Instagram" width="30px"></a>
            </div>
        </footer>
        
    </main>
    
</body>

</html>